<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload</title>
  <%- include("partials/head") %>
</head>
<body>

  <%- include("partials/navigation") %>

  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card-body">
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Title">
            </div>
            <div class="input-group mb-3" id="contentImg">
              <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label btn btn-dark" for="inputGroupFile02" id="labelChoose">Choose file</label>
                <div class="row">
                  <img src="" alt="" id="visualImg">
                </div>
              </div>
              
            </div>

            <div class="form-group">
              <textarea name="description" class="form-control" placeholder="Description"></textarea>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-success bnt-black">
                Upload
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <%- include("partials/bts") %>
  <script src="js/visualUpload.js"></script>

</body>
</html>

